.loader_wrapper {
	display: flex;
	gap: 25px;
	align-items: center;
	background-color: #0000004c;
	padding: 16px;
	border-radius: 10px;
	margin-top: 30px;
}

.loader {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
}

.loader::after,
.loader::before {
	content: '';
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #1bd197;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	animation: animloader 3s ease-in-out infinite;
	opacity: 0;
}

.loader::after {
	animation-delay: 1s;
}

@keyframes animloader {
	0%,
	100% {
		transform: scale(0);
		opacity: 1;
	}

	50% {
		transform: scale(1);
		opacity: 0;
	}
}
