.navigation {
	display: flex;
	list-style: none;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000000ab;
	background-image: url("/images/card.svg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.navigation .card {
	/*border: 3px solid green;*/
	height: 180px;
	width: 180px;
	margin: 5px;
	margin-bottom: 10px;
}

.card:hover {
	background-color: rgb(48, 63, 51);
}

.icon {
	filter: invert(1);
	margin-top: 10px;
	margin-bottom: 10px;
}
