@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #ffffff;
	--background-start: #050f24;
	--background-end: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background-color: #0a0c10;
	color: var(--foreground);
	/*background: linear-gradient(
		to bottom right,
		var(--background-start),
		var(--background-end)
	);*/
	/*background-image: url("background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	 */

	min-height: 100vh;
}

.bgwrap {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: -100;
}

.bgwrap img {
	object-fit: cover;
}

.bgborder {
	position: fixed;
	z-index: -100;
	margin: 10px;
	left: 0px;
	top: 0px;
}

.bgborder_rotate {
	position: fixed;
	z-index: -100;
	margin: 10px;
	right: 0px;
	bottom: 0px;
	transform: rotate(180deg);
}

.info_wrapper {
	grid-gap: 50px;
	height: 100vh;
	align-content: space-evenly;
	padding-left: 60px;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
}
